<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th class="th-center">State</th>
      <th class="th-center">PID</th>
      <th class="th-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each manager.apps as |app|}}
      <tr>
        <td class="td-icon flex-box flex-center-center">{{shell/ui-icon iconSize="16" iconUrl=app.icon}}</td>
        <td>{{app.name}}</td>
        <td class="td-center">{{app.state}}</td>
        <td class="td-center">{{app.pid}}</td>
        <td class="flex-box flex-center-center">
          {{shell/ui-icon iconSize="12" iconUrl=(app-path "esh-task-manager" "img/close.svg") click=(action "terminate" app)}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>